.destination{
    display: flex;
}
.destination-text {
    display: flex;
    flex-direction: column;
    
}
.destination-text_Destination{
    position: absolute;
    left: 5rem;
    color: #FF715B;

}
.destination-text_World{
    position: absolute;
    top: 3rem;
}
.destination_button{
    width: 10rem;
    height: 3rem;
    background-color: #FF715B;
    border: solid white;

}
.destination-img{
    display: flex;
    margin-right: 10rem;
}