nav{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: fit-content;
}
.Links__text {
    display: flex;
    align-items: center;
    height: 3rem;
    gap: 10rem;
}
.text__item {
    color: black;
    text-decoration: none;
}
.__AccountCon {
    display: flex;
    gap: 1rem;
    margin-right: 1rem; 
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}